html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#fffae9;
}

h1{
	font-family: 'Vollkorn', serif;
	color: #924b00;

}

img {
	max-width: 100%; /* Ensures the image is responsive and does not overflow the popover */
	  max-height: 400px; /* Adjust based on your design needs */
	  display: block; /* Removes bottom margin/padding inherent to inline images */
	  margin: 0 auto; /* Centers the image in the popover, if desired */
  }

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

select {
	cursor: pointer;
}

button {
	color: #333;

	background-color: white;
	border-radius: 4px;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

