html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#fffae9;
}

h1{
	font-family: 'Vollkorn', serif;
	color: #924b00;

}

img {
	max-width: 100%; /* Ensures the image is responsive and does not overflow the popover */
	  max-height: 400px; /* Adjust based on your design needs */
	  display: block; /* Removes bottom margin/padding inherent to inline images */
	  margin: 0 auto; /* Centers the image in the popover, if desired */
  }

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: underline;
}

a:hover {
	color: rgb(0, 122, 244);
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

select {
	cursor: pointer;
	margin:0;
	background-color: white;
}



button {
	margin: 0;
    color: #0066e9;
    padding: 6px 8px 6px 8px;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #ffffff;
	border-color: #8a8a8a;
	box-shadow: 0px 2px 0px 0px rgb(231, 231, 231);

}



.moreInfo {
	border-radius: 40px;
    border-style: none;
    padding: 0.2em 0.25em 0.15em 0.25em;
    margin: 0;
}

.moreInfo:hover {
	outline-style: solid;
	outline-color: #b3b3b3;
	outline-width: 1px;
}

.primary-btn {
	margin: 0;
	color: white;
	background-color: #0066e9;
	padding: 6px 8px 6px 8px;
	border: none;
}

.primary-btn:hover {
	background-color: #1a7dff;
	box-shadow: none;
}


.primary-btn:disabled {
	/* Disabled button styles */
	color: rgb(146, 146, 146);
	cursor: default;
	background-color: rgb(233, 233, 233);
	border-color: rgba(255, 255, 255, 0);
	box-shadow: none;
  }

input:hover {
	border-color: rgb(147, 147, 147);
}

select:hover {
	border-color: rgb(147, 147, 147);
}

button:not(:disabled):active {
	box-shadow: none;
}


h3 {
	margin-top: 0;
    margin-bottom: 0;
    color: #0066e9;
}

h4 {
	font-size: 18px;
	font-weight: 500;
    margin-bottom: 0;
	margin-top: 1rem;
    color: #000000;
}

.remove-button {
	width: 30%;
	box-sizing: border-box;
	background: none;
	  border: none;
	  cursor: pointer;
	  padding: 0 !important;
	  margin-left: 5px !important;
	  height: 28px;
	  max-width: 40px;
  }

  .remove-button:hover {
	box-shadow: none;
	background-color: white;
  }



  /* Default style for desktop */
.responsive-image {
	height: 100px; /* or your desired default height */
	}
	
	/* Media query for screens that are 768px wide or less (common breakpoint for mobile devices) */
	@media (max-width: 480px) {
	.responsive-image {
	  height: 70px; /* Adjust this value based on your needs for mobile */
	}
	}
	

	  /* Default style for desktop */
.responsive-image-shorter {
	height: 113px; /* or your desired default height */
	}
	
	/* Media query for screens that are 768px wide or less (common breakpoint for mobile devices) */
	@media (max-width: 480px) {
	.responsive-image-shorter {
	  height: 80px; /* Adjust this value based on your needs for mobile */
	}
	}
	

		  /* Default style for desktop */
.responsive-image-midsized {
	height: 60px; /* or your desired default height */
	}
	
	/* Media query for screens that are 768px wide or less (common breakpoint for mobile devices) */
	@media (max-width: 480px) {
	.responsive-image-midsized {
	  height: 50px; /* Adjust this value based on your needs for mobile */
	}
	}
	


			  /* Default style for desktop */
.fixed-image {
	max-height: 200px; /* or your desired default height */
	}
	
	/* Media query for screens that are 768px wide or less (common breakpoint for mobile devices) */
	@media (max-width: 480px) {
	.fixed-image {
	  height: auto; /* Adjust this value based on your needs for mobile */
	}
	}


	.larger-text {
		font-size: 20px;
		line-height: 1.6;
		margin-bottom: 0px;
		padding: 0px 20px 0px 20px;
	  }
	  
	  @media (max-width: 768px) {
	 .larger-text {
	  font-size: 18px;
	 }
	}

	@media (max-width: 480px) {
		.larger-text {
		  padding: 0px 10px 0px 10px;
		}
	
	  }